@import url(../../rotation/rotation.css);

.kaufman__triangle{
  background-image: url(../../../images/kaufman-triangle.svg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: -210px;
  height: 877px;
  width: 877px;
  z-index: -1;
}

.kaufman__triangle{
  animation: rotation 20s linear infinite;
}
