h1, h2, h3, p{
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", "Arial", sans-serif;
  color: #000000;

}

/* parameters for the header section */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  align-items: center;
}

.logo_place_header {
  height: 31px;
  width: 154px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  position: absolute;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;

}
.header__subtitle {
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  margin: 0;
  padding: 0;
}

.header__main-illustration {
  max-width: 765px;
  max-height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic{
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

/* parameters for description section */


.description{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}


.two-columns{
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding-top: 100px 0;
}


.two-columns__brief{
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text{
  width: 80px;
  min-width: 784px;
}

.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.two-columns__paragraph:nth-child(1){
  margin-bottom: 30px;
}

.two-columns__paragraph:nth-child(3){
  margin-top: 30px;
}


/* parameters for digits section */

.digits{
  display: flex;
  flex-direction: column;
}

.section-title{
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  }

.section-subtitle{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin: auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table{
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: auto;
  justify-content: space-between;
  padding-top: 100px;
}


.table__cell{
  width: 250px;
  margin-top: 60px;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text{
  margin: 20px 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}


/* parameters for feynman section */

.feynman{
  height: 790px;
  opacity: .9;
  margin: auto;
  position: relative;
  background-color: #f2f2f2;
  margin-top: 100px;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

.feynman__title{
  width: 775px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding: 0;
  z-index: 1;
  padding-top: 100px;
}

.feynman__subtitle{
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-align: center;
  z-index: 1;
  margin: auto;
  margin-top: 70px;

}

.fenyman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feynman__image{
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 867px;
  height: 637px;
}

/* parameters for kaufman section */

.kaufman{
  background-color: #1f1f1f;
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-direction: column;
  position: relative;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  color: #f2f2f2;
  align-items: center;

}

.section-title_theme_dark{
  width: 60%;
  margin: 90px auto 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.section-subtitle_theme_dark{
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table_theme_dark{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 90px auto;
}

.table__cell_theme_dark{
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark{
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  position: relative;
  z-index: 2;

}

.kaufman__triangle{
  position: absolute;
  top: 0;
  right: -210px;
  height: 877px;
  width: 877px;;
  z-index: 1;
}

/* parameters for footer section */

.footer{
  background-color: #1f1f1f;
  color: #f2f2f2;
  min-height: 350px;
  display: flex;
  justify-content: center;

}

.footer__columns{
width: 90%;
display: flex;
justify-content: space-between;
margin: 60px 0 40px;
}

.footer__column_content_copyright{
  flex-basis: 711px;
}
.footer__column_content_info
{

}

.footer__column-links ul{
  text-decoration: none;
}

