.khan__buy-link{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  position:absolute;
  top: 0;
  left: 648px;
  transition: color 1s linear 2s;
}

.khan__buy-link:hover{
  opacity: .6;
}

